* {padding:0; margin:0;}

.clear {
    clear:both;
}

html {}

body {
    font-family: Courier, "Courier New", monospace ;
    font-size: small;
    letter-spacing: 0.2px;
    color: #E32119;
    line-height: 1;
}

footer {
    width: 85% ;
    margin-right: auto;
    margin-left: auto;
}

#main {
    width: 85% ;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    margin-top: 1em;
}

/* Menu principal */

#mainnav {margin-top: 2em;}
ul.mainnav {padding-top: 2.5em; padding-bottom: 2.5em;margin-left:1em; clear:both;}
ul.mainnav li {padding-left: 0em; background-image: none; list-style: none;}
ul.mainnav li a {text-decoration:none; display:block; float:left; border: solid 1px #E32119; color:#E32119;margin-right: 1em;padding-left:0.2em; padding-right:0.2em;}
ul.mainnav li a:hover {background-color:#E32119 ; color:#FFF; text-decoration:none;}
ul.mainnav li.active a {background-color:#E32119 ; color:#FFF; text-decoration:none; font-weight: normal;}

/* sous menu */
ul.subnav {padding-bottom: 2.5em;margin-left:1em; clear:both;}
ul.subnav li {padding-left: 0em; background-image: none; list-style: none;}
ul.subnav li a {text-decoration:none; display:block; float:left; border: none; margin-right: 2em;}
ul.subnav li a:hover,
ul.subnav li.active a
{background-color: #FFF; color: #E32119; text-decoration: underline;}

/* Social */
#social a {
    text-decoration: none;
}

.dotted_line {
    padding-top: 1em;
    border-top: thin dashed;
    color: #E32119
    clear: both;
}

.header {
    float: left;
    margin-right: 1em;
}

header {
    margin: 1em auto 2em;
    width: 85%;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.6em;
}

h3 {
    font-size: 1em;
}

a {
    color: #E32119;
}

a img {
    border-width: 0;
}

a.red_button
{
    background-color: #E32119 ;
    color: #FFF;

    margin-bottom: 2px;
    margin-left: 4px;
    margin-top: 2px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;

    text-decoration: none;
}

a.red_button:hover
{
    text-decoration: underline;

}

.float_right {
    float: right ;
}

ul {
    list-style-type: none;
    line-height: 16px;
}

li {
    background-image: url("/bundles/lapaperiemain/images/plusque.png");
    background-repeat: no-repeat;
    background-position: 0 0.2em;
    padding-left: 1.5em;
}

li.projets {
    background: none;
}

.projets a {
    text-decoration: none;
}

p {
    margin-bottom: 2em;
    line-height: 16px;
}

.page {
    margin-bottom: 2em;
    line-height: 16px;
}

.page_content {
    position: relative;
    float: left;
    width: 100%;
    text-align: justify;
}

.content {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 2.5em;
}

.content_video {
width: 50%;
margin-left: auto;
margin-left: auto;

}

.right-side {
    position: relative;
    float: left;
    margin-left: 1em;
    width: 70%;
}

.left-side {
    position: relative;
    float: left;
    text-align: right;
    width: 25%;
}

.left-side ul{
    padding-right: 1.5em;
}

.agenda-title {
    width: 12%;
    text-align: right;
}

.agenda-right-side {
    position: relative;
    float: left;
    margin-left: 1em;
    margin-top: 1em;
    width: 50%;
}

.agenda-right-side p {
    margin-bottom: 0px;
}

.agenda-right-side li {
    margin-bottom: 1.5em;;
    background-position: 0 0.2em;
}

.agenda-left-side {
    position: relative;
    float: left;
    width: 12%;
    margin-right: 2em;
    margin-top: 1em;
    padding-right: 2em;
}

.agenda-left-side ul {
    text-align: right ;
}

.agenda-left-side a {
    text-decoration: none;
}
.short-text {
    position: relative;
    float: left;
    margin-left: 1em;
}

.short-text p {
    margin-bottom: 0em;
}


.long-text {
   clear: both;
   padding-top: 2em;
   padding-bottom: 2em;
}

.companie-img {
    position: relative;
    float: left;
}

.home_all {
    position: relative;
    float: left;
    width: 100%;
    text-align: justify;
}

.home_left {
    position: relative;
    float: left;
    width: 60%;
    text-align: justify;
}

.home_right {
    position: relative;
    float: right;
}

strong {
    font-style: inherit;
    font-weight: bold;
    font-height: inherit;
}

.strong {
    font-style: inherit;
    font-weight: bold;
    font-height: inherit;
}

em {
    font-style: italic;
    font-weight: inherit;
    font-height: inherit;
}

label {
    float: left;
    text-align: right;
    padding-top: 6px;
    width: 130px;
}

div.input {
    margin-left: 150px;
}

form .clear {
    margin-bottom: 18px;
}

button {
    background: #E32119 ;
    color: #FFF;
}

.video_home {
    float: left ;
    margin: 0.2em;
    display: block;
}

#vimeo_badge_logo {
    display: none;
}

.align_right {
    text-align: right;
}

.agenda_home li {
    margin-bottom: 1em;
    background: none;
}

.agenda_home li p {
    margin-bottom: 0px;
}

.active {
    font-weight: bold;
}

.active-agenda {
    font-weight: bold;
    font-size: 1.3em;
}

.center_flash {

    width: 50% ;
    margin-right: auto;
    margin-left: auto;
}

img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;

        /* invisble par defaut */
        /* display: none;*/
        z-index:100;
}

@media screen and (max-width: 1200px) {
        img.bg {
                left: 50%;
                margin-left: -600px;   /* 50% */
        }
}

.hide {
    display: none;
}

.illustration_right {
    float: right;
    margin-left: 3em;
    margin-bottom: 1.5em;
}
