<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/lapaperiecompanies/css/admin.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lapaperiecompanies/css/form.css') }}" type="text/css" media="all" />
        <!--link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css" type="text/css" media="all" /-->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('bundles/lapaperiemain/ckeditor/ckeditor.js') }}"></script>
        <title>{% block title %}La Paperie - Administration du site{% endblock %}</title>
    </head>

<body>

    {% block content %}
    {% endblock %}
</body>
</html>

