{% if definition is defined and definition == true %}
<div class="definition_sortie_fab">
Une <strong>sortie de fabrique</strong> est la présentation d’un travail en cours autour d’une oeuvre non aboutie. C’est un test où le public devient acteur de la création par le regard et les échanges qui en découlent.
</div>
{% endif %}
