<!DOCTYPE html>
<html lang="fr-FR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{ asset('bundles/lapaperiemain/css/style.css') }}" type="text/css" media="all" />



<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'XXXXXXXXXXXXX']);
_gaq.push(['_trackPageview']);

(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>
</head>

<body>

<div id="main">

<nav id="mainnav">
Centre national des Arts de la Rue<br />
rue de la Paperie 49124 St Barthélemy d'Anjou<br />
Tel. +33(0)2 41 66 04 47<br />
</nav>

<div class="dotted_line"></div>

  {% block content %}
  {% endblock %}

<div class="dotted_line"></div>

</div>

<footer>
</footer>

</body>
</html>
