{% extends "LapaperieMainBundle::layout.html.twig" %}

{% block title %}
La Paperie - Centre National des Arts de la Rue - Agenda
{% endblock %}

{% block menu %}agenda{% endblock %}

{% block sousmenu %}
{% endblock %}

{% block content %}
 <h2>Agenda</h2>

<div class="agenda-left-side">
<ul>
{% for month in calendar %}
<li class="{{ month.active }} projets">
<a href="{{ path('LapaperieAgendaBundle_home', {'month': month.order, 'year': month.year}) }}">
{{ month.name }}
</a>
</li>
{% endfor %}
</ul>
</div>

<div class="agenda-right-side">
<ul>
{% for actualite in agenda %}
<li>
{{ actualite.actualite | raw }}
</li>
{% endfor %}
</ul>
</div>

<div class="clear"></div>

{% endblock %}
