{% extends "LapaperieAdminBundle::layoutAdmin.html.twig" %}

{% block content %}

<h1>Centre Ressources / Formation</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Année</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
            <a href="{{ path('ressources_edit', { 'id': entity.id }) }}">
            {{ entity.title }}
            </a>
            </td>
            <td>
            {{ entity.year }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

        <a href="{{ path('ressources_create') }}" class="btn primary">
        Saisir une nouvelle Ressources / Centre Formation
        </a>
{% endblock %}
