{% extends "LapaperieMainBundle::layout.html.twig" %}

{% block title %}
La Paperie - Centre National des Arts de la Rue - Videos
{% endblock %}

{% block menu %}video{% endblock %}

{% block sousmenu %}
{% endblock %}

{% block content %}
    {% for video in videos %}
    {% if loop.index is divisibleby(5) %}
    <div class="clear"></div>
    {% endif %}
    <div class="video_home">
    {{ video.embded | raw }}
    </div>
    {% endfor %}
    <div class="clear"></div>
{% endblock %}
