{% extends "LapaperieCompaniesBundle::layout.html.twig" %}

{% block content %}

<h1>Companie creation</h1>

<form action="{{ path('companie_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('companie') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
