{% extends "LapaperieMainBundle::layout.html.twig" %}

{% block content %}
<p>
{{ firstname }}  {{ lastname }}, nous confirmons que l'adresse mail {{ courriel }} a bien été désinscrit.
</p>
<p>
Merci, et à bientôt.
</p>
{% endblock %}
