
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}

Merci {{ firstname }}  {{ lastname }}, Nous vous avons envoyé un mail à {{ courriel }}, merci de cliquer sur le lien s'y trouvant pour confirmer votre inscription.  

