{% extends "LapaperieAdminBundle::layoutAdmin.html.twig" %}

{% block content %}

<h1>Diffusion/Infusion</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Année</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>
            <a href="{{ path('diffusion_edit', { 'slug': entity.slug }) }}">
            {{ entity.title }}
            </a>
            </td>
            <td>
            {{ entity.year }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

        <a href="{{ path('diffusion_create') }}" class="btn primary">
        Saisir une nouvelle Diffusion/Infusion
        </a>
{% endblock %}
