{% extends "LapaperieMainBundle:Main:index.html.twig" %}

{% block title %}
La Paperie - Centre National des Arts de la Rue - Action Culturelle
{% endblock %}

{% block menu %}action{% endblock %}

{% block sousmenu %}
{% if actionsculturelles %}
<ul class="subnav">
{% for action in actionsculturelles %}
<li class="" >
<a href="{{ path('actionculturelle') }}">{{ action.title }}</a>
</li>
{% endfor %}
</ul>
{% endif %}
{% if archives %}
<ul class="subnav">
{% for archive in archives %}
<li class="" >
<a href="{{ path('actionculturelle') }}">{{ archive.year }}</a>
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
<h2>Contenu de Action Culturelle</h2>
{% endblock %}

        {% block footer %}
        {% endblock %}
