<p class="em ">
Design & Dessins par 
<a href="http://www.mathieudelalle.org/" target="_blank" title="Mathieu Delalle - Dessins - Vidéos" >Mathieu Delalle</a> 
 | {{ "now" | date('Y') }} | 
Site enraciné par 
<a href="http://letsroot.net" target="_blank" title="Développement d'applications web - Angers">Let's Root#</a>
</p>
