{% extends "LapaperieMainBundle:Main:index.html.twig" %}

{% block title %}
La Paperie - Centre National des Arts de la Rue - Diffusion/Infusion
{% endblock %}

{% block menu %}diffusion{% endblock %}

{% block sousmenu %}
{% include "LapaperieDiffusionBundle:Default:submenu.html.twig"  with {"subcurrent": block('submenu')} %}
{% endblock %}

{% block content %}
<h2>Contenu de Diffusion - Infusion</h2>
{% endblock %}

        {% block footer %}
        {% endblock %}
