{% extends "LapaperieMainBundle:Main:index.html.twig" %}

{% block title %}
La Paperie - Centre National des Arts de la Rue - Diffusion/Infusion
{% endblock %}

{% block sousmenu %}
<ul id="subnav">
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_diffusioninfusion' ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_diffusioninfusion') }}">artistes en mouvements</a>
</li>
</ul>
{% endblock %}

{% block content %}
<h2>Contenu de Diffusion - Infusion</h2>
{% endblock %}
