{% extends "LapaperieMainBundle::layout.html.twig" %}

{% block sousmenu %}
{% endblock %}

{% block content %}

<div id="home_left">
  <h2>{{ focus.title }}</h2>
  <div id="focus">
    {{ focus.text | raw }}
  </div>
</div>
<div id="home_right">
  <div id="video">
    {{ focus.video | raw }}
    <p>
    {{ focus.legend }}
    </p>
  </div>
</div>
<div class="clear"></div>

{% endblock %}

        {% block footer %}
        <h2>Calendrier</h2>
        {% endblock %}
