{% extends "LapaperieMainBundle::layout.html.twig" %}

{% block sousmenu %}
<ul id="subnav">
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage' ? 'active' : ''}}" >
<a href="">Accueil</a>
</li>
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage_partners' ? 'active' : ''}}" >
<a href="">Equipe / Partenaires</a>
</li>
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage_description' ? 'active' : ''}}" >
<a href="">Fiche Technique du lieu</a>
</li>
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage_formation' ? 'active' : ''}}" >
<a href="">Centre ressources / Formation</a>
</li>
</ul>
{% endblock %}

{% block content %}
<h2>Ceci est un h2</h2>
<p>
La Paperie is on !
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper lectus vel erat convallis at scelerisque eros volutpat. Quisque tortor ante, imperdiet et commodo vitae, semper at mauris. Etiam id diam lectus. Praesent tempor tellus eu nibh consectetur nec dapibus purus ultrices. Cras lobortis felis ultricies mauris pellentesque ullamcorper. Aliquam nec ipsum nisl, eu vehicula dui.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper lectus vel erat convallis at scelerisque eros volutpat. Quisque tortor ante, imperdiet et commodo vitae, semper at mauris. Etiam id diam lectus. Praesent tempor tellus eu nibh consectetur nec dapibus purus ultrices. Cras lobortis felis ultricies mauris pellentesque ullamcorper. Aliquam nec ipsum nisl, eu vehicula dui.
</p>

<p>
<ul>
<li>LIST
Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
</li>
<li>list</li>
<li>list</li>
</ul>
</p>

<h3>Ceci est un h3</h3>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper lectus vel erat convallis at scelerisque eros volutpat. Quisque tortor ante, imperdiet et commodo vitae, semper at mauris. Etiam id diam lectus. Praesent tempor tellus eu nibh consectetur nec dapibus purus ultrices. Cras lobortis felis ultricies mauris pellentesque ullamcorper. Aliquam nec ipsum nisl, eu vehicula dui.
</p>

<h3>Ceci est un h3</h3>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper lectus vel erat convallis at scelerisque eros volutpat. Quisque tortor ante, imperdiet et commodo vitae, semper at mauris. Etiam id diam lectus. Praesent tempor tellus eu nibh consectetur nec dapibus purus ultrices. Cras lobortis felis ultricies mauris pellentesque ullamcorper. Aliquam nec ipsum nisl, eu vehicula dui.
</p>


{% endblock %}
