{% extends "LapaperieMainBundle:Main:index.html.twig" %}

{% block title %}
La Paperie - Centre National des Arts de la Rue - Soutien à la Création
{% endblock %}

{% block menu %}soutien{% endblock %}

{% block sousmenu %}
{% include "LapaperieMainBundle:Soutien:submenu.html.twig" %}
{% endblock %}

{% block content %}
Contenu de Soutien à la Création
<h2>Ceci est un h2</h2>
<p>
La Paperie is on !
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper lectus vel erat convallis at scelerisque eros volutpat. Quisque tortor ante, imperdiet et commodo vitae, semper at mauris. Etiam id diam lectus. Praesent tempor tellus eu nibh consectetur nec dapibus purus ultrices. Cras lobortis felis ultricies mauris pellentesque ullamcorper. Aliquam nec ipsum nisl, eu vehicula dui.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper lectus vel erat convallis at scelerisque eros volutpat. Quisque tortor ante, imperdiet et commodo vitae, semper at mauris. Etiam id diam lectus. Praesent tempor tellus eu nibh consectetur nec dapibus purus ultrices. Cras lobortis felis ultricies mauris pellentesque ullamcorper. Aliquam nec ipsum nisl, eu vehicula dui.
</p>

<p>
<ul>
<li>LIST
Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
</li>
<li>list</li>
<li>list</li>
</ul>
</p>

<h3>Ceci est un h3</h3>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper lectus vel erat convallis at scelerisque eros volutpat. Quisque tortor ante, imperdiet et commodo vitae, semper at mauris. Etiam id diam lectus. Praesent tempor tellus eu nibh consectetur nec dapibus purus ultrices. Cras lobortis felis ultricies mauris pellentesque ullamcorper. Aliquam nec ipsum nisl, eu vehicula dui.
</p>

<h3>Ceci est un h3</h3>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper lectus vel erat convallis at scelerisque eros volutpat. Quisque tortor ante, imperdiet et commodo vitae, semper at mauris. Etiam id diam lectus. Praesent tempor tellus eu nibh consectetur nec dapibus purus ultrices. Cras lobortis felis ultricies mauris pellentesque ullamcorper. Aliquam nec ipsum nisl, eu vehicula dui.
</p>


{% endblock %}
